
  <h2>My Conversations</h2>


<table>
<% @conversing_buddies.each do |buddy|%>
<tr>
  <td><i class="fa fa-user fa-4x" aria-hidden="true"></i>
      <br><%= buddy.first_name %>
  </td>
  <td><a class="nav-item nav-link" href = "/mailbox/show/<%= buddy.id %>"> View Conversation</a></td>
  <td><a class="nav-item nav-link" href = "/mailbox/delete/<%= buddy.id %>"> Delete Conversation</a></td>

  <td><a class="nav-item nav-link" href = "/profile/show/<%= buddy.id %>"> View Profile</a></td>
</tr>


  <% end %>

</table>
